@import '../shared/responsive';

.container {
  text-align: justify;
  margin: auto auto;
  width: 60%;
  background-color: #fff;
  padding: 0px 0px;
  outline: none;

  @include respond-down($container-xl) {
    width: 80%;
  }

  @include respond-down($container-lg) {
    width: 100%;
  }
}
.infoBox {
  padding: 2%;
}
.intro {
  text-align: center;
  font-weight: bold;
  color: #03453f;
}
.img1 {
  opacity: 0.8;
  width: 100%;
}
.img {
  width: 100%;
}
.ending {
  text-align: center;
  font-weight: bold;
  color: #03453f;
}
