@import '../shared/responsive';
@import '../shared/mui';

.container {
  width: 60%;
  margin: 0px auto;
  background-color: #ffffff;
  padding: ($mui-spacing-unit * 5) 0px;
  @include respond-down($container-xl) {
    width: 80%;
  }
  @include respond-down($container-lg) {
    width: 100%;
  }
}

.title {
  text-transform: uppercase;
  margin: 0px auto;
  color: $mui-color-secondary;
  text-align: center;
}
